.nav-bg{
    background-color: #0f2755;
}

p {
    color: #fff8d9;
}

.create-btn{
    color: #fff8d9;
}

.create-btn:hover{
    background-color: #95989e !important;
}

.home_logo{
    cursor: pointer !important;
   
}

.logo_img{
    max-width: 40%;
    height: auto;
}

.drop_down{
    background-color: #0f2755 !important;
    border: 2px solid #fff8d9 !important;
}

.dropdown-menu{
    z-index: 3000 !important;

}

.li_menu{
    overflow: visible !important;
}