.profile_card{
    background-color: #f4f4f4;
}

.txt_b{
    color: rgb(117, 117, 117);
}

.empty_msg{
    display: flex;
    justify-content: center;
    height: 12rem;
    padding: 0;
    margin: 0;
}