.label_name{
    font-size: 15px;
    font-weight: bold;
    color: #7a8a93;
}

.label_value{
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}

.test_loader{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
}